<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-jacic-hash"
        version="1.0.0">

    <name>JACIC Hash Plugin</name>
    <description>JACIC Hash Library Plugin for embedding hash values into JPEG APP5 region</description>
    <license>Apache 2.0</license>
    <keywords>jacic,hash,jpeg,app5,tampering</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- JavaScript Interface -->
    <js-module src="www/JACICHash.js" name="JACICHash">
        <clobbers target="JACICHash" />
    </js-module>

    <!-- iOS Platform -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="JACICHash">
                <param name="ios-package" value="CDVJACICHash" />
            </feature>
        </config-file>

        <!-- Plugin Source Files -->
        <header-file src="src/ios/CDVJACICHash.h" />
        <source-file src="src/ios/CDVJACICHash.m" />

        <!-- JACIC Hash Library Files -->
        <header-file src="src/ios/JACICHashLib/writeHashLib.h" />
        <source-file src="src/ios/JACICHashLib/writeHashLib.c" compiler-flags="-std=c99" />
        <header-file src="src/ios/JACICHashLib/app1.h" />
        <source-file src="src/ios/JACICHashLib/app1.c" compiler-flags="-std=c99" />
        <header-file src="src/ios/JACICHashLib/app5.h" />
        <source-file src="src/ios/JACICHashLib/app5.c" compiler-flags="-std=c99" />
        <header-file src="src/ios/JACICHashLib/common.h" />
        <source-file src="src/ios/JACICHashLib/common.c" compiler-flags="-std=c99" />
        <header-file src="src/ios/JACICHashLib/exif.h" />
        <source-file src="src/ios/JACICHashLib/exif.c" compiler-flags="-std=c99" />
        <header-file src="src/ios/JACICHashLib/sha256.h" />
        <source-file src="src/ios/JACICHashLib/sha256.c" compiler-flags="-std=c99" />
    </platform>

    <!-- Android Platform -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="JACICHash">
                <param name="android-package" value="jp.ne.datt.plugin.JACICHashPlugin" />
            </feature>
        </config-file>

        <!-- Java Plugin Source -->
        <source-file src="src/android/JACICHashPlugin.java"
                     target-dir="src/jp/ne/datt/plugin" />

        <!-- Native C++ Files -->
        <source-file src="src/android/jni/jacic_hash_jni.cpp"
                     target-dir="jni" />

        <!-- JACIC Hash Library Files -->
        <source-file src="src/android/jni/JACICHashLib/writeHashLib.h"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/writeHashLib.c"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/app1.h"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/app1.c"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/app5.h"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/app5.c"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/common.h"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/common.c"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/exif.h"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/exif.c"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/sha256.h"
                     target-dir="jni/JACICHashLib" />
        <source-file src="src/android/jni/JACICHashLib/sha256.c"
                     target-dir="jni/JACICHashLib" />

        <!-- Prebuilt native libraries (built by GitHub Actions) -->
        <lib-file src="src/android/libs/armeabi-v7a/libjacic-hash-lib.so" arch="armeabi-v7a" />
        <lib-file src="src/android/libs/arm64-v8a/libjacic-hash-lib.so" arch="arm64-v8a" />
        <lib-file src="src/android/libs/x86/libjacic-hash-lib.so" arch="x86" />
        <lib-file src="src/android/libs/x86_64/libjacic-hash-lib.so" arch="x86_64" />
    </platform>

</plugin>
